<p>Haga click en el producto que quiere añadir</p>
<button type="button" (click)="seleccionarProducto('Leche')">1. Leche</button><br>
<button type="button" (click)="seleccionarProducto('Pan')">2. Pan</button><br>
<button type="button" (click)="seleccionarProducto('Café')">3. Café</button><br>
<button type="button" (click)="seleccionarProducto('Azúcar')">4. Azúcar</button><br>
<button type="button" (click)="seleccionarProducto('Huevos')">5. Huevos</button><br>
<button type="button" (click)="seleccionarProducto('Plátanos')">6. Plátanos</button><br>

